body {
    margin-top: 100px;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(239, 239, 239);
    background-color: rgb(20, 20, 20);
}

h1 {i
    font-family: 'Playfair Display', serif;
}

a {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin: 5px;
}

#uw {
    color: rgb(167, 62, 223);
}

#me {
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 25%;
    margin-bottom: 20px;
}

#me img {
    width: 240px;
    margin: -50px 0 0 0;
}

#corner {
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: smaller;
}