html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

header {
  color: grey;
}

nav > ol {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding-left: 0;
}

main {
  width: 100%;
  max-width: 32.5rem;
  margin-bottom: 4rem;
}

main > span {
  width: 100%;
  display: flex;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  color: darkslategrey;
  text-align: center;
}

a:hover {
  color: white;
  background-color: rgb(0, 0, 238);
}

a:visited:hover {
  color: white;
  background-color: rgb(85, 26, 139);
}

a[href^="/learning"] {
  color: oklch(42.989% 0.14627 142.511);
}

a[href^="/learning"]:hover {
  color: white;
  background-color: oklch(42.989% 0.14627 142.511);
}

a[href^="/learning"]:visited {
  color: rgba(20, 76, 67, 1);
}

a[href^="/learning"]:visited:hover {
  color: white;
  background-color: oklch(37.794% 0.05919 180.135);
}

a[href*="http"]::after {
  content: " \2197\fe0e";
}

@media (width <= 900px) {
  a[href*="http"]::after {
    font-size: 0.75rem;
  }
}

ul {
  list-style-position: outside;
  padding-left: 2rem;
}

ul > span {
  color: darkslategrey;
  position: relative;
  left: -1rem;
}

li > a {
  display: inline-block;
}

li.therefore {
  list-style: none;
  position: relative;
}

li.therefore::before {
  content: "∴";
  position: absolute;
  left: -2ch;
}

ul.singleton {
  padding-left: 2ch;
}

p {
  position: relative;
}

p.blue::before {
  content: "●";
  color: slateblue;
  position: absolute;
  left: -3ch;
}

p.red::before {
  content: "●";
  color: firebrick;
  position: absolute;
  left: -3ch;
}

p.green::before {
  content: "●";
  color: mediumseagreen;
  position: absolute;
  left: -3ch;
}

p.grey::before {
  content: "●";
  color: lightgrey;
  position: absolute;
  left: -3ch;
}
