:root {
  --main-width: 32.5rem;
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 4rem;
}

header {
  color: grey;
}

nav > ol {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  padding-left: 0;
}

nav.pages {
  width: 100%;
  max-width: var(--main-width);
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

main {
  width: 100%;
  max-width: var(--main-width);
}

main > span {
  width: 100%;
  display: flex;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  color: darkslategrey;
  text-align: center;
}

a:hover {
  color: white;
  background-color: rgb(0, 0, 238);
}

a:visited:hover {
  color: white;
  background-color: rgb(85, 26, 139);
}

a[href^="/learning"] {
  color: oklch(0.5454 0.1335 147.94);
}

a[href^="/learning"]:hover {
  color: white;
  background-color: oklch(0.5454 0.1335 147.94);
}

a[href^="/learning"]:visited {
  color: oklch(0.3784 0.0934 154.95);
}

a[href^="/learning"]:visited:hover {
  color: white;
  background-color: oklch(0.3784 0.0934 154.95);
}

a[href^="/nowhere"] {
  color: lightslategray;
}

a[href^="/nowhere"]:hover {
  color: white;
  background-color: lightslategrey;
}

a[href^="/nowhere"]:visited {
  color: slategrey;
}

a[href^="/nowhere"]:visited:hover {
  color: white;
  background-color: slategrey;
}

a[href*="http"]::after {
  content: " \2197\fe0e";
}

@media (width <= 900px) {
  a[href*="http"]::after {
    font-size: 0.75rem;
  }
}

ul {
  list-style-position: outside;
  padding-left: 2rem;
}

ul > span {
  color: darkslategrey;
  position: relative;
  left: -1rem;
}

li > a {
  display: inline-block;
}

li.therefore {
  list-style: none;
  position: relative;
}

li.therefore::before {
  content: "∴";
  position: absolute;
  left: -2ch;
}

ul.singleton {
  padding-left: 2ch;
}

p {
  position: relative;
}

p.blue::before {
  content: "●";
  color: slateblue;
  position: absolute;
  left: -3ch;
}

p.red::before {
  content: "●";
  color: firebrick;
  position: absolute;
  left: -3ch;
}

p.green::before {
  content: "●";
  color: mediumseagreen;
  position: absolute;
  left: -3ch;
}

p.grey::before {
  content: "●";
  color: lightgrey;
  position: absolute;
  left: -3ch;
}

pre {
  max-width: 100%;
  overflow: hidden;
}

.someone {
  color: slategrey;
}
.action {
  color: grey;
}

.nothing {
  color: lightslategrey;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
