doctype
html
    head
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
        link(rel="stylesheet" href="/assets/css/main.css")
    body
        main
            != partial("_partials/main")
            div.footer Designed and built by Harrison Kwik using 
                a(href="http://harpjs.com/") Harp
                span , code lives on 
                a(href="https://github.com/RESPRiT/resprit.github.io") GitHub