doctype html
html
  != partial("_partials/_head")
  body
    main
      != partial("_partials/_main")
        div.footer Designed and built by Harrison Kwik using 
          a(href="http://harpjs.com/") Harp
          span , code lives on 
          a(href="https://github.com/RESPRiT/resprit.github.io") GitHub