doctype
html
  head
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
    link(rel="stylesheet" href="/assets/css/main.css")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-50838092-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-50838092-2');
  body
    main
      != partial("_partials/_resume")