@import "typography";

$blue: #96a4d7;

$spacer: 20px;

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: $spacer;
}

// Misc Utility
.list-inline {
  display: inline-flex;
  flex-wrap: wrap;

  li:not(:last-of-type) {
    padding-right: $spacer / 4;
  }
}

.title-right {
  float: right;
  padding-right: 0;
}
