@font-face {
  font-family: 'Majesti Banner Book';
  src: url('MajestiBanner-Book.eot');
  src: url('../fonts/MajestiBanner-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-Book.woff') format('woff'),
  url('../fonts/MajestiBanner-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Majesti Banner';
  src: url('MajestiBanner-BoldItalic.eot');
  src: url('../fonts/MajestiBanner-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-BoldItalic.woff') format('woff'),
  url('../fonts/MajestiBanner-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Majesti Banner';
  src: url('MajestiBanner-Medium.eot');
  src: url('../fonts/MajestiBanner-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-Medium.woff') format('woff'),
  url('../fonts/MajestiBanner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Majesti Banner';
  src: url('MajestiBanner-MediumItalic.eot');
  src: url('../fonts/MajestiBanner-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-MediumItalic.woff') format('woff'),
  url('../fonts/MajestiBanner-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Majesti Banner';
  src: url('MajestiBanner-Bold.eot');
  src: url('../fonts/MajestiBanner-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-Bold.woff') format('woff'),
  url('../fonts/MajestiBanner-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Majesti Banner Book';
  src: url('MajestiBanner-BookItalic.eot');
  src: url('../fonts/MajestiBanner-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MajestiBanner-BookItalic.woff') format('woff'),
  url('../fonts/MajestiBanner-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}