@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Inconsolata');

$serif-stack: (
        'Majesti Banner',
        'Georgia',
        'Times New Roman',
        serif,
);

$sans-stack: (
        'Roboto',
        -apple-system,
        BlinkMacSystemFont,
        'Futura',
        sans-serif,
);

$mono-stack: (
        'Inconsolata',
        'Consolas',
        monospace,
);

$base-font-size: 16px;

body {
  font-family: $sans-stack;
  font-size: $base-font-size;
  font-weight: 300;
  quotes: "“" "”" "‘" "’";
  line-height: 140%;
}

em {
  font-style: italic;
}

strong {
  font-weight: 400;
}
